* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
.header {
    display: flex;
    align-items: center;

    color:white;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

    padding: 20px;
}
.header_title {
    font-size: 21px;
}
#troll {
    margin-right: 7px;
}

.meme_form {
    padding: 36px;
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}
.meme_input1, .meme_input2 { 
    border: 1px solid rgba(213, 212, 216, 1);
    border-radius: 5px;
    font-size: 12px;
    padding: 11px;
    text-indent: 5px;
    font-family: sans-serif;
}
.meme_button {
    font-family: sans-serif;
    width: 100%;
    color: white;
    font-size: 16px;
    padding: 11px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-style: none;
    border-radius: 5px;
    transition: all 0.3s;
    grid-column: 1/-1;
}
.meme_button:hover {
    opacity: 0.7;
    cursor: pointer;
}.meme_button:active {
    opacity: 1;
}

.the-meme-box {
    margin: 0 32px;
    position: relative;
}
.the-meme {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}
.top-text, .bottom-text {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    font-size: 26px;
    text-transform: uppercase;
    color: white;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.top-text {
    top: 25px;
}
.bottom-text {
    bottom: 25px;
}